#title{
  background-color: #ff4c68;
  color: white;
}

#features{
 text-align: center;
 padding: 7% 15%;
 background-color: white;
 position: relative;
 z-index: 1;


}

h1 {  font-family: 'Montserrat-Black' sans-serif;  font-size: 3.5rem;  line-height: 1.5;  font-weight: 900;}
body{
  font-family: 'Montserrat' sans-serif;
  font-weight: 600;
}



.container-fluid{
  padding: 3% 15% 7%;
}

/* navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;

}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 24%;

}

/* features section */

.icon:hover{
  color:#ff4c68;
}
.icon{
  color: #ef8172;
  font-size: 3.5rem;
  margin-bottom: 5%;
}


.heading{
  font-family: 'Montserrat-Bold' sans-serif;
  font-size: 1.5rem;
font-weight: 900;
}
.subtitle{
  color: #8f8f8f;
  width: 50%;
  margin: auto;

}

/* testimonial-section */

#testimonials{

  background-color: #ef8172;
  text-align: center;

}

.test-heading{
  font-family: 'Montserrat' sans-serif;
  font-weight: 800;
  color: white;
  font-size: 3rem;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 30px;
}

.carousel-item{
  padding: 7% 15%;
}

/* press section */

#press{
  background-color: #ef8172;
  text-align: center;

}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 2% 3%;
}

/* Call to Action */

#cta{

  background-color: #ff4c68;

  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: 'Montserrat' sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: white;
  padding-bottom: 1%;
  width: 80%;
  margin: auto;

}

/* footer section */

#footer{
  background-color: white;
  text-align: center;
  padding: 6%;


}
.foot-icon{
  margin: 1%;
}

.foot-para{
  font-weight: lighter;
  color: grey;
  font-family: 'Montserrat';
}



@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }

}
